<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" onSubmit="userDetails(event)">
       Name: <input type="text"  class="name" >
       PhoneNo: <input type="number"  class="phoneno" required>
      Email:<input type="email" class="email">
       <input type="submit" value="submit">
    </form>
    <ul id="lists">
        
        
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/js/main.js">
       

    </script>
    
</body>
</html>